body {
    width: 85%;
    background-color: #E0E0E0;

}
#tag {
    padding-top: 0.625em;
    text-align: left;
    display: table-cell;
    vertical-align: top;
    font-size: 100%;
}
#tag #tag0 {
    color: #574ece;
    font: 1.25em arial, sans-serif;
    /* size: {start: 12, end: 36, unit: 'px'}; */
}
#tag a {
    display: inline-block;
    margin: .125em 0.75em .125em 0;
    line-height: 1.2em;
    word-break: break-all;
    vertical-align: middle;
}
a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}
a:onclick{

}
